
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow Condensed", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(134.34% 134.34% at 50% 0%,
            #1f3757 0%,
            #131537 100%);
}

.scoreboard {
    width: 700px;
    height: 135px;
    border-radius: 15px;
    border: 4px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.title {
    padding-left: 30px;
}

.score {
    width: 150px;
    height: 114px;
    background-color: white;
    border: 1px solid white;
    border-radius: 8px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score h1 {
    color: #565468;
    font-size: 56px;
    font-family: "Barlow", sans-serif;
}

.score p {
    color: #2a45c2;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 2.5px;
    text-align: left;
}

.hands {
    background-image: url("assets/triangle.png");
    background-position: center;
    background-repeat: no-repeat;
    visibility: visible;
    opacity: 1;
    position: relative;
    width: 476px;
    height: 430px;
    margin-top: 65px;
    display: flex;
    z-index: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.hands img {
    width: 200px;
    height: 200px;
    display: block;
}

.hands .paper {
    margin-right: 20px;
}

.hands .scissors {
    margin-left: 20px;
}

.hands .hand {
    cursor: pointer;
    transition: all 0.25s;
}

.hands .hand:hover {
    transform: translate3d(0px, -8px, 0px);
}

.contest {
    display: none;
    margin-top: 50px;
    width: 900px;
}

.contest img {
    width: 275px;
    height: 275px;
}

.contest>div {
    flex: 1;
}

.contest h1 {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.contest .newGame {
    color: hsl(229, 25%, 31%);
    background-color: white;
    padding: 12px 24px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.15s;
}

.newGame:hover {
    background: rgb(218, 218, 218);
    transform: translate3d(0px, -2px, 0px);
}

.contest .handImageContainer {
    display: flex;
    justify-content: center;
}

.referee {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.referee h1 {
    font-size: 45px;
    color: white;
}

.computerhand {
    display: flex;
    flex-direction: column;
}

.rules-toggle-btn {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    background: none;
    outline: none;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 0.6rem;
    color: #ffffff;
    padding: 0.6rem 2.5rem;
    font-family: inherit;
    text-transform: inherit;
    font-size: 1.3rem;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.rules-toggle-btn:focus {
    border: 2px solid #fff;
}

.popup {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: grid;
    place-items: center;
    background: #0000004d;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none;
}

.popup-content {
    background: #fff;
    border-radius: 0.5rem;
}

.popup-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 2rem 2rem 1rem;
}

.popup-title {
    font-size: 1.5rem;
    color: hsl(229, 25%, 31%);
}

.popup-close-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

.popup-rules-img {
    padding: 2rem 4rem;
}

.show-modal {
    opacity: 1;
    pointer-events: initial;
}

@media (max-width: 500px) {
    .wrapper {
        width: 124%;
        min-height: 124vh;
    }

    .hands img {
        width: 150px;
        height: 150px;
        display: block;
    }

    .contest img {
        width: 120px;
        height: 120px;
    }

    .title img {
        width: 115px;
        height: 80px;
    }

    .scoreboard {
        width: 350px;
    }

    .hands {
        height: 345px;
    }

    .rules-toggle-btn {
        position: absolute;
        bottom: -2rem;
        right: 5.2rem;
        background: none;
        outline: none;
        border: 2px solid hsl(217, 16%, 45%);
        border-radius: 0.6rem;
        color: #ffffff;
        padding: 6px 32px;
        font-family: inherit;
        text-transform: inherit;
        font-size: 18px;
        letter-spacing: 0.1em;
        cursor: pointer;
    }

    .score {
        width: 110px;
        height: 100px;
    }

    .score p {
        color: #2a45c2;
        font-size: 14px;
    }

    .score h1 {
        color: #565468;
        font-size: 48px;
    }

    .contest {
        display: none;
        margin-top: 65px;
        width: 96%;
    }

    .referee h1 {
        font-size: 25px;
    }

    .contest .newGame {
        color: hsl(229, 25%, 31%);
        background-color: white;
        padding: 12px 10px;
    }

    .contest .newGame {
        padding: 11px 27px;
    }

    .contest h1 {
        color: white;
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 18px;
    }

    .decision>h1 {
        margin-top: 213px;
        font-size: 28px;
    }

    .popup {
        position: absolute;
        width: 0;
        height: 0;
        top: 216px;
        left: 32px;
    }
}